* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    margin: 0;
    /*display: grid;
    grid-template-rows: repeat(3, 1fr); */
}

img {
    width: 500px;
    height: 300px;
}

#Earbutton:hover, #Eyebutton:hover, #Neckbutton:hover, #Tailbutton:hover {

    transform: translateY(5px);

}

#Earbutton, #Eyebutton, #Neckbutton, #Tailbutton {
  
    cursor: pointer;
    transition: 0.3s;
}

#Ear1, #Ear2, #Earins{
    display: none; 

}

#Ear3, #Ear3in {
    display: inline;
}